body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1; /* Ensure the background is behind other elements */
}

body {
    background-color: #000d03;
    font-family: 'Courier New', monospace;
}

.container {
    width: 100vw;
    aspect-ratio: 1.5;
    left: 16%;
    position: relative;
}

.monitor {
    width: 65%;
    height: 70%;
    top: 15%;
    position: relative;
    overflow: hidden;
    z-index: 1; /* Ensure the monitor is above the video */
    display: flex;
    flex-direction: column;
}

#black-background {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 7%;
    left: 5%;
    background-color: black;
    z-index: 1.5; /* Ensure the black background is between the monitor and terminal */
}

.monitor-border {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4; /* Ensure the border is above the monitor content */
    pointer-events: none; /* Ensure the border does not block clicks */
}

#terminal-background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensure the video is above the monitor border but below the terminal content */
    object-fit: cover;
}

#terminal {
    display: none;
    position: absolute;
    top: 15%;
    left: 15%;
    width: 100%;
    height: 70%;
    padding: 0px;
    box-sizing: border-box;
    overflow-y: auto; /* Allow vertical scrolling */
    z-index: 3; /* Ensure terminal content is above the border */
    color: #00FF00;
    text-shadow: 0 0 5px #00FF00;
    font-size: 1vw;
    line-height: 1.2vw;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#terminal::-webkit-scrollbar {
    display: none; /* Hide scrollbars for WebKit-based browsers */
}

#terminal pre {
    margin: 0;
}

#output {
    flex-grow: 1;
    margin: 0;
    padding-right: 20px; /* Add padding to make space for scrolling */
}

#input-line {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#input {
    background-color: transparent;
    color: #00FF00;
    border: none;
    outline: none;
    width: calc(100% - 10px);
    padding: 5px;
    font-family: 'Courier New', monospace;
    font-size: 1.5vw;
}

pre {
    font-family: 'Courier New', monospace;
    color: #00FF00;
    text-shadow: 0 0 5px #00FF00;
    margin: 0;
}

a {
    color: #00FF00;
    text-decoration: underline;
    font-weight: bold;
}

a:hover {
    color: #00FFFF;
}

#power-button {
    position: absolute; /* Absolute positioning within the .monitor container */
    width: 5%; /* Adjust the width as needed */
    height: auto;
    top: 32.3%; /* Adjust top position as needed */
    left: 91.7%; /* Adjust left position as needed */
    transform: translate(-50%, -50%);
    z-index: 5; /* Ensure the button is above all other elements */
    cursor: pointer;
}

.project-item {
    margin-bottom: 50px; /* Adjust the value as needed */
}

.list-inline {
    list-style: none; /* Remove the list-style */
    padding: 0;
    margin: 0;
}

.list-inline-item {
    margin: 0 2rem; /* Adjust the margin to control spacing between icons */
}

.list-inline-item i {
    color: #00ff00; /* Green color */
    font-size: 3rem; /* Adjust the size of the icons */
}

#skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left; 
    align-items: left;
}

#skills-container .list-inline-item {
    flex: 0 0 15%; /* Adjust percentage to control the number of icons per row */
    text-align: left;
    margin-right: 5vw; /* Adjust the bottom margin to decrease space between rows */
}
