body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%) scale(1.5); /* Adjust scale as needed */
    z-index: -1; /* Ensure the video is behind other elements */
    object-fit: cover;
}

#terminal-background-video {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensure the video is above the monitor border but below the terminal content */
    object-fit: cover;
}

body {
    background-color: #000d03;
    font-family: 'Courier New', monospace;
}

.container {
    width: 60vw;
    aspect-ratio: 4 / 3;
    position: relative;
}

.monitor {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1; /* Ensure the monitor is above the video */
    display: flex;
    flex-direction: column;
}

.monitor-border {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3; /* Ensure the border is above the monitor content */
    pointer-events: none; /* Ensure the border does not block clicks */
}

#terminal {
    display: none;
    position: absolute;
    top: 15%;
    left: 15%;
    width: 80%;
    height: 70%;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 4; /* Ensure terminal content is above the border */
    color: #00FF00;
    text-shadow: 0 0 5px #00FF00;
    font-size: 1vw;
    line-height: 1.25vw;
}

#terminal pre {
    margin: 0;
}

#output {
    flex-grow: 1;
    overflow-y: hidden;
    margin: 0;
}

#input-line {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#input {
    background-color: transparent;
    color: #00FF00;
    border: none;
    outline: none;
    width: calc(100% - 10px);
    padding: 5px;
    font-family: 'Courier New', monospace;
    font-size: 1.5vw;
}

pre {
    font-family: 'Courier New', monospace;
    color: #00FF00;
    text-shadow: 0 0 5px #00FF00;
    margin: 0;
}

a {
    color: #00FF00;
    text-decoration: underline;
    font-weight: bold;
}

a:hover {
    color: #00FFFF;
}

#power-button {
    position: absolute;
    width: 5%;
    height: auto;
    top: 93%;
    left: 10%;
    transform: translate(-50%, -50%);
    z-index: 5; /* Ensure the button is above all other elements */
    cursor: pointer;
}