body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%) scale(1.5); /* Adjust scale as needed */
    z-index: -1; /* Ensure the video is behind other elements */
    object-fit: cover;
}

#terminal-background-video {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensure the video is above the monitor border but below the terminal content */
    object-fit: cover;
}

body {
    background-color: #000d03;
    font-family: 'Courier New', monospace;
}

.container {
    width: 60vw;
    aspect-ratio: 4 / 3;
    position: relative;
}

.monitor {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1; /* Ensure the monitor is above the video */
    display: flex;
    flex-direction: column;
}

#black-background {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 7%;
    left: 5%;
    background-color: black;
    z-index: 1.5; /* Ensure the black background is between the monitor and terminal */
}

.monitor-border {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4; /* Ensure the border is above the monitor content */
    pointer-events: none; /* Ensure the border does not block clicks */
}

#terminal {
    display: none;
    position: absolute;
    top: 10%;
    left: 15%;
    width: 80%;
    height: 75%;
    padding: 5px;
    box-sizing: border-box;
    overflow-y: auto; /* Allow vertical scrolling */
    z-index: 3; /* Ensure terminal content is above the border */
    color: #00FF00;
    text-shadow: 0 0 5px #00FF00;
    font-size: 1vw;
    line-height: 1.25vw;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#terminal::-webkit-scrollbar {
    display: none; /* Hide scrollbars for WebKit-based browsers */
}

#terminal pre {
    margin: 0;
}

#output {
    flex-grow: 1;
    margin: 0;
    padding-right: 20px; /* Add padding to make space for scrolling */
}

#input-line {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#input {
    background-color: transparent;
    color: #00FF00;
    border: none;
    outline: none;
    width: calc(100% - 10px);
    padding: 5px;
    font-family: 'Courier New', monospace;
    font-size: 1.5vw;
}

pre {
    font-family: 'Courier New', monospace;
    color: #00FF00;
    text-shadow: 0 0 5px #00FF00;
    margin: 0;
}

a {
    color: #00FF00;
    text-decoration: underline;
    font-weight: bold;
}

a:hover {
    color: #00FFFF;
}

#power-button {
    position: absolute;
    width: 5%;
    height: auto;
    top: 93%;
    left: 10%;
    transform: translate(-50%, -50%);
    z-index: 5; /* Ensure the button is above all other elements */
    cursor: pointer;
}

.project-item {
    margin-bottom: 50px; /* Adjust the value as needed */
}

#standby-image {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0; /* Ensure the standby image is above all other elements */
}

.list-inline {
    list-style: none; /* Remove the list-style */
    padding: 0;
    margin: 0;
}

.list-inline-item {
    margin: 0 1rem; /* Adjust the margin to control spacing between icons */
}

.list-inline-item i {
    color: #00ff00; /* Green color */
    font-size: 5rem; /* Adjust the size of the icons */
}

#skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left; /* Center the icons */
    align-items: center;
}

#skills-container .list-inline-item {
    flex: 0 0 20%; /* Adjust this percentage to control the number of icons per row */
    text-align: center;
}