.project-item {
    margin-bottom: 20px; /* Adjust the value to control the space between projects */
}

.project-item a {
    display: block;
    margin-bottom: 10px; /* Add some space below the "View Project" link */
}